body{
    background-color: yellow;
}

h1, h3, h2, ul, .create-form{
    text-align: center;
    color: rgb(255, 40, 2);
}

header{
    align-content: center;
    text-align: center;
}
#submit{
    margin-top: 20px;
    padding: 20px;
    border-radius: 20%;
    background-color: tomato;
}
